body * {
    padding: 0px;
    margin: 0px;
    font: 12px verdana,helvetica,arial,sans-serif;
    line-height: 1.4em;
}

body {
    padding: 0px;
    margin: 0px;
}

p {
    margin-top: 12px;
    margin-bottom: 12px;
}

a {
    color: #004363;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #003a6b;
    text-decoration: underline;
}

#nav {
    border-left: 2px solid #e5e5e5;
    padding-left: 12px;
    height: 100%;
    background-color: #F0f0f0;
    float: right;
    width: 288px;
    position: fixed;
    right: 0px;
    margin-left: 12px;
}

#navbox {
    overflow: auto;
    padding-bottom: 20px;
}

#nav a {
    font-size: 13px;
}

#nav div {
    margin-top: 6px;
}

#nav div a:before {
    content: "Ꞁ ";
}

#footer {
    position: fixed;
    bottom: 0px;
    background-color: #F0f0f0;
    width: 300px;
}

#footer p {
    margin-bottom: 4px;
}

#footer p:before {
    content: "~ ";
}

#footer p:after {
    content: " ~";
}

#main {
    margin: 0px 16px;
    padding-right: 304px;
}

#main .section {
    margin-top: 4px;
}

#main .sub {
    margin-bottom: 48px;
}

#main a {
}

#main p a:after {
    content: " Ꝉ";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 6px;
    border-bottom: 3px solid #C5C5C5;
}

h3 {
    padding-top: 18px;
    font-size: 15px;
    padding-bottom: 3px;
    border-bottom: 3px solid #DADADA;
}

h4 {
    font-size: 13px;
    border-bottom: 3px solid #D0D0D0;
    padding-bottom: 3px;
}

h3 a {
    font-size: 20px;
    line-height: 15px;
    top: 5px;
    position: relative;
    margin-left: 8px;
    color: #CCCCCC;
}

h3 a:hover {
    text-decoration: none;
}

pre, code {
    font: 11px 'Consolas', Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    background-color: #F0F0F0;
    color: #151515;
    padding: 0 0.2em;
    border: 1px solid #DEDEDE;
}

pre {
    color: #707070;
    margin: 1em 0;
    padding: 0.3em;
    line-height: 1.5em;
    overflow: auto;
}

pre > code {
    border: none;
    padding: 0;
}

strong {
    font-weight: bolder;
}

em {
    color: #151515;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
}

blockquote {
    margin-left: 24px;
    border-bottom: 2px solid #eaeaea;
    border-top: 2px solid #eaeaea;
}

blockquote p {
    margin-bottom: 4px;
    margin-top: 4px;
}

