/* Reset + layout */

/* Eric Meyer's reset.css v1.0 | 20080212 */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, em, img, ins, kbd,
strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

article, aside, figure, footer, header, hgroup,  menu, nav, section {
	display: block;
}

body {
	width: 960px;
	margin: 0 auto;
	font-family: Georgia, 'Nimbus Roman No9 L', 'Norasi', 'Liberation Serif', serif;
	font-size: 14px;
}

nav {
	position: fixed;
	margin-left: 680px;
	top: 0;
	padding: 30px 0;
	height: 100%;
	background-color: #556c81;
}

body > div {
	margin-right: 350px;
}

header h1 {
	margin: 40px 0 30px;
}

nav h1 {
	margin: 20px 0 20px 30px;
}

article {
	padding-bottom: 20px;
	border-bottom: 4px dotted #8696a5;
}

/* Typography */

header h1 {
	font-size: 75px;
	line-height: 1.2em;
	font-weight: normal;
}

nav {
	text-shadow: none;
}

nav h1 {
	font-size: 24px;
	font-weight: normal;
}

nav ul li {
	font-size: 16px;
    margin: 0px;
    list-style: none;
	background-color: #556c81;
}

nav a {
	color: white;
	font-family: Arial, sans-serif;
	font-size: 13px;
	display: block;
	padding: 4px 30px 6px;
}

nav a:hover {
	background: #0D2E4C;
}

p {
	line-height: 1.4em;
	font-size: 16px;
	margin-bottom: 20px;
}

pre, code {
	font-family: Consolas, Inconsolata, 'Bitstream Vera Sans Mono', Menlo, Monaco, 'Andale Mono', 'Courier New', monospace;
}

pre {
	padding: 4px 0 8px 30px;
	border-left: 4px solid #566D82;
	margin-bottom: 30px;
	background: #092136;
}

article pre code {
	font-size: 14px;
	line-height: 1.3em;
    padding: 0px;
    margin-top: 3px;
    margin-bottom: 1px;
	background: #092136;
}

article code {
	font-size: 0.85em;
	text-shadow: none;
	background: #071929;
}

h2 {
	font-size: 24px;
	margin: 15px 0 20px;
	padding-top: 30px; /* A little padding here so that document
					     fragment anchors scroll to slightly above the exact
					     top of the heading */
}

h3 {
	font-size: 18px;
	margin: 25px 0 15px;
}

h2, h3 {
	font-family: Arial, sans-serif;
}

aside {
	padding: 15px 30px 20px;
	border: 1px solid #9eabb7;
	border-width: 1px 0;
	margin-bottom: 25px;
}

aside p {
	margin: 0;
}

ol {
    margin-bottom:32px;
}

li {
	font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 50px;
}

ol li {
    list-style: decimal;
}

ul li {
    list-style: square;
}

footer {
   padding-top: 10px; 
}

/* Color */

body {
	background: #0D2E4C;
	color: white;
	text-shadow: 0 1px 1px #000000;
}

a {
	color: #FFA500;
	text-decoration: none;
}

a:hover {
	color: #FFC76D;
}

article code {
	padding: 3px 4px 1px;
	background: #607589;
}

/* Behavior */

h2 a {
	display: none;
}

h2:hover a {
	display: inline;
}

